* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.root {
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.center {
  padding-left: calc(50% - 571px);
  padding-right: calc(50% - 571px);
}

.header {
  height: 75px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__left-img {
  width: 100%;
  height: 100%;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right-img {
  width: 100%;
  height: 100%;
}

.header__left-link {
  margin-right: 41px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.header__left-link:last-child {
  margin-right: 0;
}

.header__right-link {
  margin-right: 33px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right-link:last-child {
  margin-right: 0;
}

.header__right-link {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.header__right-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.drop__box_mobile {
  display: none;
}

#switch {
  position: absolute;
  left: -999999999px;
  visibility: hidden;
}

#switch:checked ~ .drop {
  opacity: 1;
  visibility: visible;
}

.drop {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 32px;
  position: absolute;
  top: 75px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.drop__name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: block;
}

.drop__box {
  margin-top: 24px;
}

.drop__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  display: block;
  text-decoration: none;
}

.drop__heading:hover {
  color: #d15c6c;
}

.drop__list {
  list-style-type: none;
  margin-top: 12px;
}

.drop__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  display: block;
  padding: 0 0 0 22px;
  margin-bottom: 11px;
}

.drop__link:hover {
  color: #F16D7F;
}

.drop__link_indent {
  margin-bottom: 0;
}

.drop__heading_mobile {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.drop__heading_mobile:last-child {
  margin-bottom: 0;
}

.drop__heading_mobile-img {
  background-color: black;
  width: 29px;
  height: 29px;
  margin-right: 4px;
}

.promo {
  width: 100%;
  background-color: rgba(113, 103, 105, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__left {
  width: 50%;
  max-height: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo__left-img {
  width: 57%;
}

.promo__right {
  width: 50%;
  max-height: 765px;
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__right-items {
  margin-left: 64px;
  border-left: 12px solid #F16D7F;
}

.promo__right-title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  margin-left: 16px;
}

.promo__right-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  margin-left: 16px;
}

.promo__right-subtitle::after {
  content: "FASHION";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #F16D7F;
  padding-left: 12px;
}

.catalog {
  padding-top: 64px;
}

.catalog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__items {
  position: relative;
  margin-right: 30px;
}

.catalog__items:last-child {
  margin-right: 0;
}

.catalog__item-img {
  width: 100%;
  height: 100%;
}

.catalog__item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-text_overtext {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.item-text_title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.catalog__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.catalog__bottom-img {
  width: 100%;
}

.catalog__bottom-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-text_overtext {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.bottom-text_title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.products {
  padding-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.products__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: 6px 0 48px;
}

.product__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.product__card:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.product__card-top {
  position: relative;
}

.product__card-img {
  width: 100%;
}

.product__card-text {
  background: #F8F8F8;
  padding-left: 18px;
  padding-right: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card-text_title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25.35px;
}

.card-text_subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12.65px;
}

.card-text_price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  margin-bottom: 20px;
}

.product__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(58, 56, 56, 0.86);
  display: none;
}

.card-link_item {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px;
  border: 1px solid #FFFFFF;
}

.card-link_img {
  margin-right: 11.05px;
}

.product__card:hover .product__card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__link {
  margin-top: 48px;
  margin-bottom: 95px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__link-item {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 15px 39px;
  border: 1px solid #FF6A6A;
}

.products__link-item:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.feature {
  width: 100%;
  background-color: #222224;
}

.feature__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 103px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature__items-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
  margin-right: 30px;
}

.feature__items-content:last-child {
  margin-right: 0;
}

.items-content__title {
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
  margin-bottom: 16px;
}

.items-content__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  background-image: url(./images/photo-subscribe.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 126px;
}

.subscribe__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribe__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__right {
  max-width: 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__left-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 328px;
  margin-top: 30px;
  padding-bottom: 26px;
}

.subscribe__right-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe__right-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  margin-top: 10px;
  margin-bottom: 32px;
}

.subscribe__right-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__right-input {
  height: 49px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  padding-left: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 34px;
  border-radius: 24px 0 0 24px;
  border: none;
}

.subscribe__right-button {
  height: 49px;
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 21px;
  background: #F16D7F;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
  border: none;
}

.subscribe__right-button:hover {
  background: #E05C6E;
}

.footer {
  background: #222224;
}

.footer__items {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__items-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__items-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__items-link {
  display: block;
  background: #FFFFFF;
  margin-right: 7.29px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: black;
}

.footer__items-link:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.footer__items-link:last-child {
  margin-right: 0;
}

/* catalog */
.site-info {
  height: 148px;
  background-color: #F8F3F4;
}

.site-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-info__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.site-info__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-info__navigation-link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.site-info__navigation-link:hover {
  color: #F16D7F;
}

.site-info__navigation-link:last-child {
  font-weight: bold;
  color: #F16D7F;
}

.site-info__navigation-link:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
}

.sort {
  padding-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sort__filter {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  position: absolute;
}

.sort__filter_active:hover {
  width: 360px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.sort__filter-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.sort__filter-img {
  margin-left: 11px;
}

.sort__filter_active:hover .sort__filter-text {
  color: #EF5B70;
}

.sort__filter-items {
  display: none;
}

.sort__filter_active:hover .sort__filter-items {
  display: block;
}

.filter-items_item-title {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  border-left: 5px solid;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
  margin: 18px 0;
}

.filter-items_item-title::-webkit-details-marker {
  display: none;
}

.filter-items_item-list {
  list-style-type: none;
}

.item-list_type {
  margin-bottom: 11px;
}

.item-list_type:last-child {
  margin-bottom: 0;
}

.item-list_type-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  margin-left: 14px;
}

.sort__options {
  -ms-flex-preferred-size: 66.66666%;
      flex-basis: 66.66666%;
  margin-left: calc(33.33333% + 11px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort__options-size {
  cursor: pointer;
  position: relative;
}

.sort__options-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 27.98px;
}

.sort__options-text:hover {
  cursor: pointer;
  color: #EF5B70;
}

.sort__options-text::-webkit-details-marker {
  display: none;
}

.sort__options-img {
  margin-left: 11px;
}

.sort__options-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 1;
  padding: 8px 30px 8px 8px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  top: 20px;
  left: -9px;
}

.sort__options-link {
  margin: 2px 0;
  line-height: 16px;
  color: #6F6E6E;
}

.products-catalog {
  padding-top: 64px;
  margin-bottom: 188px;
}

.items-content__title {
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
  margin-bottom: 16px;
}

.items-content__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

/* product */
.slider {
  background-color: #F7F7F7;
  height: 777px;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.slider__img {
  width: 50%;
  height: 100%;
}

.collection {
  margin-top: -64.54px;
  position: relative;
}

.collection__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
}

.collection__title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin: 64.54px 0 12px;
}

.collection__line {
  width: 63px;
  height: 3.3px;
  background-color: #EF5B70;
  margin-bottom: 12.1px;
}

.collection__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.collection__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  max-width: 557px;
  margin: 48.41px 0 32.27px;
}

.collection__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 64.54px;
}

.collection__price-line {
  border: 1px solid #EAEAEA;
  width: 641px;
}

.collection__specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 64.54px 0 48.41px;
}

.collection__specifications-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 22.98px;
}

.collection__specifications-item:hover {
  cursor: pointer;
  color: #EF5B70;
}

.collection__specifications-item:last-child {
  margin-right: 0;
}

.collection__specifications-img {
  margin-left: 9px;
}

.collection__form {
  margin: 0 0 64.5px;
}

.collection__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  width: 212px;
  height: 48px;
  background-color: #FFFFFF;
  border: 1px solid #FF6A6A;
}

.collection__button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
  cursor: pointer;
}

.collection__button-img {
  margin-right: 23.99px;
}

.products-product {
  padding-top: 128px;
  padding-bottom: 128px;
}

.product__card_product:last-child {
  margin-right: 0;
}

/* cart */
.shopping-item {
  background-color: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-item__title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  font-style: normal;
  font-weight: normal;
  width: 100%;
}

.cart {
  padding-top: 96px;
  padding-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item__left {
  width: 57%;
}

.cart-item__right {
  margin-left: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  width: 652px;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.card:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.card_mb {
  margin-bottom: 40px;
}

.card__img {
  max-width: 262px;
}

.card__content {
  padding: 22px 22px 31px 31px;
  width: 41%;
}

.card__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.card__text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.card__text-price {
  color: #EF5B70;
}

.card__text-input {
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
  max-width: 44px;
  max-height: 24.95px;
  border: 1px solid #EAEAEA;
}

.card__text-input::-webkit-outer-spin-button,
.card__text-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card__close {
  position: absolute;
  top: 28px;
  right: 22px;
  border: 0;
  max-height: 18px;
  width: 18px;
  background-color: white;
  cursor: pointer;
}

.card__close-img {
  width: 100%;
}

.cart-item__button {
  margin: 72px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item__button-link {
  padding: 17px 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
}

.cart-item__button-link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.cart-item__right-title {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.right__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 57px;
}

.right__form-text {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 13px 17px 16px;
  width: 360px;
  margin-bottom: 20px;
  border: 1px solid #A4A4A4;
}

.right__form-text::-webkit-input-placeholder {
  color: #222222;
}

.right__form-text_color::-webkit-input-placeholder {
  color: #B1B1B1;
}

.right__form-button {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 30%;
  padding: 12px 15px;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
}

.right__form-button:hover {
  cursor: pointer;
  background-color: #F16D7F;
  color: #FFFFFF;
}

.cart-item__right-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F5F3F3;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 37px 42px 37px;
}

.right-price__top {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-top: 39px;
}

.right-price__top-item {
  margin-left: 30px;
}

.right-price__bottom {
  margin-top: 12px;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.right-price__bottom-item {
  font-weight: bold;
  color: #F16D7F;
  margin-left: 30px;
}

.right-price__line {
  width: 100%;
  height: 1px;
  background-color: #E2E2E2;
  margin-bottom: 17px;
}

.right-price__button {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  padding: 15px 41px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  border: none;
}

.right-price__button:hover {
  background-color: #E05C6E;
}

/* registration */
.registration-content {
  margin-top: 64px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 62%;
}

.registration-form__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration-form__input {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 20px;
  padding: 16px 17px;
  border: 1px solid #A4A4A4;
}

.registration-form__input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.registration-form__radio {
  margin-top: 31px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration-form__text {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.registration-form__button {
  background-color: #F16D7F;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  max-width: 167px;
  padding: 16px 29px;
}

.registration-form__button:hover {
  background-color: #E05C6E;
}

.registration-form__input_indent {
  margin-bottom: 0;
}

.registration-form__radio-gender {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-gender__input {
  margin-right: 10px;
  cursor: pointer;
}

.radio-gender__input_indent {
  margin-left: 20px;
}

.registration-form__button-img {
  margin-left: 10px;
}

.description {
  margin-left: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.description__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}

.description__text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}

.description__text:last-child {
  margin-bottom: 0;
}

.description__text-img {
  margin-right: 22px;
}

/* laptop 1024 */
@media all and (max-width: 1024px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .promo {
    height: 368px;
  }
  .promo__left-img {
    width: 100%;
  }
  .product__cards {
    -webkit-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
  }
  .product__card {
    -ms-flex-preferred-size: 320px;
        flex-basis: 320px;
  }
  .product__card_product {
    margin: 0;
  }
  .product__card_product:last-child {
    display: none;
  }
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-item__left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-item__button-link {
    margin-right: 48px;
  }
  .cart-item__button-link:last-child {
    margin-right: 0;
  }
  .cart-item__right {
    margin-left: 0;
    margin-top: 64px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  .right__form {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .cart-item__right-price {
    margin: auto 0;
  }
  .footer__items {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* tablet 768 */
@media all and (max-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .slider {
    height: 624px;
  }
  .slider__img {
    width: 514px;
  }
  .product__card_product {
    margin: 0;
  }
  .product__card_product:last-child {
    display: none;
  }
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-item__left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-item__button-link {
    margin-right: 48px;
  }
  .cart-item__button-link:last-child {
    margin-right: 0;
  }
  .cart-item__right {
    margin-left: 0;
    margin-top: 64px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  .right__form {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .cart-item__right-price {
    margin: auto 0;
  }
  .promo {
    height: 368px;
  }
  .promo__left-img {
    width: 100%;
  }
  .promo__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo__right-items {
    margin-left: 0;
  }
  .promo__right-title {
    font-size: 44px;
    line-height: 53px;
  }
  .promo__right-subtitle {
    font-size: 24px;
    line-height: 29px;
  }
  .catalog {
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .catalog__items {
    margin-right: 19px;
    height: 167px;
  }
  .catalog__bottom {
    margin-top: 19px;
    height: 116px;
  }
  .products {
    padding-top: 154px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .products__subtitle {
    margin: 6px 0 72px;
  }
  .product__cards {
    -webkit-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
  }
  .feature__items {
    padding: 0 204px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .feature__items-content {
    margin: 0 0 48px 0;
  }
  .subscribe {
    background-position: 15%;
  }
  .subscribe__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__left {
    margin-bottom: 48px;
  }
  .footer {
    padding: 0 32px;
  }
}

/* mobile 375 */
@media all and (max-width: 375px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__right-link {
    margin: 0;
  }
  .header__right-link_mobile {
    display: none;
  }
  .site-info__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sort__options-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider__img {
    width: 100%;
  }
  .collection__price-line {
    width: 40%;
  }
  .promo__left {
    display: none;
  }
  .promo {
    height: 363px;
  }
  .promo__right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo__right-items {
    margin-left: 0;
  }
  .promo__right-title {
    font-size: 38px;
    line-height: 46px;
  }
  .promo__right-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .catalog {
    padding-left: 16px;
    padding-right: 16px;
  }
  .catalog__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__items {
    margin: 0 0 19px;
    height: 247px;
  }
  .catalog__bottom {
    height: 111px;
  }
  .products {
    padding-top: 64px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .products__subtitle {
    text-align: center;
  }
  .product__cards {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -webkit-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
  }
  .feature__items {
    padding: 0 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 48px;
    padding-bottom: 81px;
  }
  .feature__items-content {
    margin: 0 0 48px 0;
  }
  .subscribe {
    background-position: 25%;
  }
  .subscribe__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__items-text {
    margin-bottom: 40px;
  }
  .card {
    max-width: 358px;
    height: 188px;
  }
  .cart {
    padding-top: 36px;
  }
  .card__content {
    padding: 14px 22px 31px 31px;
  }
  .card__img {
    width: 40%;
  }
  .card__heading {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
  }
  .card__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
  }
  .card__text-input {
    max-width: 17px;
    max-height: 15.95px;
    font-size: 10px;
    line-height: 12px;
  }
  .card_mb {
    margin-bottom: 30px;
  }
  .cart-item__button {
    margin: 30px 0 0;
  }
  .cart-item__button-link {
    margin-right: 9px;
    font-size: 12px;
    line-height: 14px;
    padding: 6px 14px;
  }
  .cart-item__right {
    margin-top: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right__form {
    margin: 20px 0 48px;
  }
  .registration-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration-form {
    width: 100%;
    margin-bottom: 40px;
  }
  .description {
    margin: 0;
  }
  .description__text-img {
    margin-right: 2px;
  }
  .drop {
    width: 100%;
  }
  .catalog__items:last-child {
    margin: 0;
  }
  .drop__box_mobile {
    display: block;
  }
}

@media all and (max-width: 414px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__right-link {
    margin: 0;
  }
  .header__right-link_mobile {
    display: none;
  }
  .site-info__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sort__options-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider__img {
    width: 100%;
  }
  .collection__price-line {
    width: 40%;
  }
  .promo__left {
    display: none;
  }
  .promo {
    height: 363px;
  }
  .promo__right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo__right-items {
    margin-left: 0;
  }
  .promo__right-title {
    font-size: 38px;
    line-height: 46px;
  }
  .promo__right-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .catalog {
    padding-left: 16px;
    padding-right: 16px;
  }
  .catalog__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__items {
    margin: 0 0 19px;
    height: 247px;
  }
  .catalog__bottom {
    height: 111px;
  }
  .products {
    padding-top: 64px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .products__subtitle {
    text-align: center;
  }
  .product__cards {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -webkit-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
  }
  .feature__items {
    padding: 0 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 48px;
    padding-bottom: 81px;
  }
  .feature__items-content {
    margin: 0 0 48px 0;
  }
  .subscribe {
    background-position: 25%;
  }
  .subscribe__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__items-text {
    margin-bottom: 40px;
  }
  .card {
    max-width: 358px;
    height: 188px;
  }
  .cart {
    padding-top: 36px;
  }
  .card__content {
    padding: 14px 22px 31px 31px;
  }
  .card__img {
    width: 40%;
  }
  .card__heading {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
  }
  .card__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
  }
  .card__text-input {
    max-width: 17px;
    max-height: 15.95px;
    font-size: 10px;
    line-height: 12px;
  }
  .card_mb {
    margin-bottom: 30px;
  }
  .cart-item__button {
    margin: 30px 0 0;
  }
  .cart-item__button-link {
    margin-right: 9px;
    font-size: 12px;
    line-height: 14px;
    padding: 6px 14px;
  }
  .cart-item__right {
    margin-top: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right__form {
    margin: 20px 0 48px;
  }
  .registration-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration-form {
    width: 100%;
    margin-bottom: 40px;
  }
  .description {
    margin: 0;
  }
  .description__text-img {
    margin-right: 2px;
  }
  .drop {
    width: 100%;
  }
}

.catalog__items:last-child {
  margin: 0;
}

@media all and (max-width: 767px) {
  .promo__right-items {
    margin-left: 0;
  }
  .product__card {
    -ms-flex-preferred-size: 237px;
        flex-basis: 237px;
  }
}
/*# sourceMappingURL=style.css.map */